<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.vsii.tsc.utility.Reports" />
	</listeners>
	<test name="TestTeamCalendar">
		<classes>
			<class name="com.vsii.tsc.utility.TestBase" />
			<class name="com.vsii.cstar.testcase.VerifyItemsInSelectedProductSet_QueryDB" />
		</classes>
		
		
	</test> 
</suite> 
